<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Mis Asignaturas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu-profe"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding white-background">
  <h1 class="black-text">Listado de Asignaturas</h1>

  <ion-grid class="ion-grid">
    <ion-row>
      <ion-col size="12" *ngFor="let asignatura of asignaturas" class="estudiante-col">
        <div class="estudiante-box" (click)="openModal(asignatura)" style="cursor: pointer;">
          <ion-label class="asignatura-nombre">{{ asignatura.nombre }}</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="asignaturas.length === 0" class="ion-text-center">
    <p>No tienes asignaturas asignadas.</p>
  </div>

  <!-- Modal -->
  <ion-modal [isOpen]="isModalOpen" (didDismiss)="closeModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>{{ selectedAsignatura?.nombre }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="background-white">
        <div class="modal-content">
          <h2>Detalles de la Asignatura</h2>
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <strong>Código de Asignatura:</strong> {{ selectedAsignatura?.codigo }}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <strong>Descripción:</strong> {{ selectedAsignatura?.contenido }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
