ion-grid {
  width: 100%;
  --ion-grid-column-padding: 10px; 
}

.estudiante-col {
  padding: 10px;
}

.estudiante-box {
  background-color: #fbff00; 
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
  font-size: 16px;
}
