<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">usuario</ion-title>
    </ion-toolbar>
  </ion-header>
<!--USUARIO-->  
<label>Usuario: </label>
<ion-input type="text" placeholder="Ingrese su Usuario" [(ngModel)] = "usuario"></ion-input>
<!--CONTRASEÑA-->
<label>Clave: </label>
<ion-input type="password" placeholder="Ingrese la clave" [(ngModel)] = "clave"></ion-input>

<!--BOTON-->
<ion-button shape="round" fill="outline" (click) = "ingresar()">Aceptar</ion-button>

</ion-content>
