<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Cambiar Contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-white">
  <ion-card>
    <ion-card-header>
      <h1>Cambiar Contraseña</h1>
    </ion-card-header>
    <ion-card-content>

      <!--USUARIO-->  
      <label>Email: </label>
      <ion-input type="Email" placeholder="Ingrese su Email" [(ngModel)]="email1"></ion-input>

      <!--CONTRASEÑA-->
      <label>Nueva Contraseña: </label>
      <ion-input type="password" placeholder="Ingrese la clave" [(ngModel)]="claveIngresada1"></ion-input>
      
      <!--REPETIR CONTRASEÑA-->
      <label>Repita la Contraseña: </label>
      <ion-input type="password" placeholder="Ingrese la clave" [(ngModel)]="claveIngresada2"></ion-input>
      
      <!--BOTON-->
      <ion-button shape="round" fill="outline" (click)="ingresar()">Aceptar</ion-button>
      <br>
    </ion-card-content>
  </ion-card>
</ion-content>
