ion-card {
    --background: #f4f80c;
    --color: #000908;
    margin: 40px;
    ion-card-header{
        h1{
            text-align: center;
        }
    }
    ion-card-content{
        ion-button{
            display: grid;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
        }
    }
    
}

.background-white {
    --background: #ffffff;
    background-color: #ffffff; /* Para asegurarte de que el fondo se muestre como blanco */
  }
  