.menu-content {
    --background: linear-gradient(to bottom, #ffffff, #f3f3f3);
  }
  
  .user-info {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .user-info ion-avatar {
    width: 80px;
    height: 80px;
    margin: auto;
  }
  
  ion-avatar img {
    border-radius: 50%;
  }
  
  ion-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }

.background-white {
  --background: #ffffff;
  background-color: #ffffff; /* Para asegurarte de que el fondo se muestre como blanco */
}





  
  