<ion-menu contentId="main-content"> 
  <ion-header>
    <ion-toolbar color="primary">
      <ion-img class="menu-img" src="assets/Logo_DuocUC.svg.png"></ion-img>
    </ion-toolbar>
  </ion-header>

  <ion-content class="menu-content white-background">
    <ion-list>
      <ion-item routerLink="/asignatura-profe">
        <ion-icon slot="start" name="school-outline" color="primary"></ion-icon>
        <ion-label>Mis Asignaturas</ion-label>
      </ion-item>
      <ion-item routerLink="/reg-asistencia">
        <ion-icon slot="start" name="qr-code-outline" color="primary"></ion-icon>
        <ion-label>Registrar Asistencia</ion-label>
      </ion-item>
      
      <!-- Mis asignaturas -->
      <!--
      <ion-item routerLink="/credencial">
        <ion-icon slot="start" name="person-outline" color="primary"></ion-icon>
        <ion-label>Mis Credenciales</ion-label>
      </ion-item>
      -->
    <!--
      <ion-item routerLink="/asignaturas">
        <ion-icon slot="start" name="school-outline" color="primary"></ion-icon>
        <ion-label>Mis Asignaturas</ion-label>
      </ion-item>

      <ion-item routerLink="/asistencias">
        <ion-icon slot="start" name="calendar-outline" color="primary"></ion-icon>
        <ion-label>Mi Asistencia</ion-label>
      </ion-item>

      <ion-item routerLink="/reg-asistencia">
        <ion-icon slot="start" name="qr-code-outline" color="primary"></ion-icon>
        <ion-label>Registrar Asistencia</ion-label>
      </ion-item>
      -->
      <!-- Separador -->


      <ion-item-divider></ion-item-divider>

      <!-- Opciones de Seguridad -->
      <ion-item routerLink="/restablecer-contrasena">
        <ion-icon slot="start" name="lock-closed-outline" color="primary"></ion-icon>
        <ion-label>Cambiar Contraseña</ion-label>
      </ion-item>
    
      <!-- Cerrar Sesión -->
      <ion-item>
        <ion-button expand="block" color="danger" (click)="confirmLogout()">
          <ion-icon slot="start" name="exit-outline"></ion-icon>
          Cerrar Sesión
        </ion-button>
      </ion-item>

      <!-- Botón para cerrar el menú -->
      <ion-item>
        <ion-menu-toggle>
          <ion-icon slot="start" name="arrow-round-back"></ion-icon>
          <ion-button>Cerrar</ion-button>
        </ion-menu-toggle>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Main Content -->
<div class="ion-page white-background" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding background-white">
    <ion-text color="primary">    
      <h1>Bienvenido, {{ usuario }}!</h1>
      <p>Estás accediendo a tu portal personal de DuocUC. Aquí podrás gestionar tus asignaturas, registrar tu asistencia y más.</p>
    </ion-text>

    <!-- Imagen-->
    <div class="bienvenida">
      <img [src]="image" class="carousel-image" alt="Imagen de bienvenida">
    </div>

    <!-- Sección de enlaces-->
    <div class="external-links">
      <ion-item lines="none">
        <ion-icon slot="start" name="logo-instagram" color="primary"></ion-icon>
        <ion-label>
          <a href="https://www.instagram.com/duocplazaoeste/" target="_blank">Instagram Duoc Plaza Oeste</a>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon slot="start" name="globe-outline" color="primary"></ion-icon>
        <ion-label>
          <a href="https://www.duoc.cl/" target="_blank">Sitio Web Duoc</a>
        </ion-label>
      </ion-item>
    </div>
  </ion-content>
</div>

