<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Credencial Estudiantil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="credencial-container">
    <h2>Cristobal Armijo Torres</h2>
    <p class="rut">RUT: 12.345.678-9</p>
    <p class="escuela">Escuela de Informática y Telecomunicaciones</p>
    <p class="carrera">Ingeniería en Informática</p>
  </div>
</ion-content>
