<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Asignaturas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-white">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let asignatura of asignaturas" class="asignatura-col">
        <div class="asignatura-box" (click)="verModal(asignatura)" style="cursor: pointer;">
          <ion-label class="asignatura-nombre">{{ asignatura.nombre }}</ion-label>
        </div>

        <!-- Modal para los detalles de la asignatura y asistencia -->
        <ion-modal [isOpen]="asignatura.mostrarModal">
          <ng-template>
            <ion-header>
              <ion-toolbar color="primary">
                <ion-title>{{ asignatura.nombre }}</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="verModal(asignatura)">Cerrar</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="background-white">
              <div class="modal-content">
                <h2>Detalles de la Asignatura</h2>
                <ion-grid>
                  <ion-row>
                    <ion-col size="12">
                      <strong>Código de Asignatura:</strong> {{ asignatura.codigo }}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="12">
                      <strong>Nombre del Profesor:</strong> {{ asignatura.profesor }}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="12">
                      <strong>Descripción:</strong> {{ asignatura.contenido }}
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <h3>Historial de Asistencia</h3>
                <ion-list>
                  <ion-item *ngFor="let registro of asistencia | slice:0:2">
                    <ion-label>
                      <p>Fecha: {{ registro.fecha }}</p>
                      <p>Estado: {{ registro.presente ? 'Presente' : 'Ausente' }}</p>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
