<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Registrar Asistencia</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding white-background">
  <h1 class="black-text">Registrar Asistencia</h1>
  <h6 class="black-text">Selecciona una asignatura y genera un QR para registrar la asistencia</h6>

  <!-- Lista de Asignaturas -->
  <ion-list>
    <ion-item *ngFor="let asignatura of asignaturas">
      <ion-label>{{ asignatura.nombre }}</ion-label>
      <ion-button shape="round" size="small" color="success" (click)="generarQR(asignatura)">
        Generar QR 
        <ion-icon slot="end" name="qr-code-outline" color="light"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Modal para mostrar el QR -->
  <ion-modal [isOpen]="mostrar">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Código QR</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="verModal()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p class="black-text">Escanear el siguiente QR para registrar su asistencia</p>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Código QR</ion-card-title>
          </ion-card-header>
          <ion-card-content style="text-align: center; margin-top: 20px;">
            <qrcode [qrdata]="qrData" [width]="400"></qrcode>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
