ion-content {
    --background: white; 

    ion-button {
        display: grid;
        justify-content: center;
        align-items: center;
    }
}

.black-text {
    color: black;
}

ion-card {
    ion-card-header {
        ion-card-title {
            text-align: center;
        }
    }
    ion-card-content {
        img {
            width: 70%;
            height: 70%;
            display: block;
            margin: 0 auto;
            border-radius: 10px;
        }
    }
}
